
*.exe
Lab4/main_list_rwlock.c
Lab4/main_list.c
Lab5/semaf-1.c
Lab5/semaf-2.c
Lab5/pc.c
*.txt
*.class
Lab6/cods-lab6/TIncrementoBase.java
Lab6/cods-lab6/HelloThread.java
Lab6/__pycache__/verificaLE.cpython-311.pyc
Lab6/cods-lab6/OlaThread.java
Lab6/HelloThread.java
Lab6/cods-lab6/verificaLE.py
Lab6/cods-lab6/LeitorEscritor.java
Lab6/OlaThread.java
Lab6/TIncrementoBase.java
Lab8/cods-lab8/MyPool.java
Lab8/cods-lab8/TAtomicIncremento.java
Lab8/cods-lab8/TIncremento.java
Lab8/cods-lab8/TSyncIncremento.java
